@media(max-width:1600px){
    .menu{
        gap: 40px !important;
    }
}
@media(max-width:1400px){
    .menu{
        gap: 30px !important;
    }
}
@media(max-width:1024px){
    .activities_tomato_one h1{
        font-size: 56px !important;
    }
    .activities_tomato_one .tag{
        font-size: 46px !important;
    }
    .activities_tomato_one .ico{
        padding-top: 10px !important;
        padding-bottom: 30px !important;
    }
    .social-icons{
        padding-top: 10px;
    }
    .activities_contact_us .container .row{
        width: 100% !important;
    }
    .activities_contact_us .container .col1 input, select{
        min-width: 100px;
        width: 100% !important;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .activities_contact_us .container .col2 input, textarea{
        min-width: 100px;
        width: 100% !important;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .activities_contact_us .container .check-code input {
        width: 100% !important;
        box-sizing: border-box;
    }
    .activities_contact_us .check-code button{
        font-size: 16px !important;
    }
    .menu{
        gap: 0 !important;
    }
}
@media(max-width:768px){
    .navbar {
        padding: 1px 20px !important;
    }
    .search-container{
        padding-right: 30px !important;
    }

    .logo {
        height: 50px !important;
    }

    .menuitem {
        width: 45% !important;
    }

    .menu_text {
        font-size: 16px !important;
    }

    .activities {
        padding: 15px !important;
    }
    .activities h3{
        font-size: 20px !important;
    }

    .img-activities {
        width: 230px !important;
        height: 230px !important;
        object-fit: cover;
    }
    .activities_tomato_one h1{
        font-size: 40px !important;
    }
    .activities_tomato_one .tag{
        font-size: 34px !important;
    }
    .activities_tomato_one .ico img{
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
    }
    .activities_tomato_one .ico h2{
        font-size: 20px;
    }
    .activities_tomato_one .ico{
        width: 300px !important;
    }
    .footer .container a{
        padding: 0;
    }
    .activities_contact_us .check-code button{
        font-size: 14px !important;
    }
    
}
@media(max-width:640px){
    .footer .container a{
        font-size: 14px !important;
    }
    .activities_tomato_one h1{
        font-size: 30px !important;
    }
    .activities_tomato_one .tag{
        font-size: 24px !important;
    }
    .activities_tomato_one .sign{
        padding-top: 0 !important;
    }
    .header_contuct_us{
        min-height: 300px !important;
    }
    .activities_contact_us h1{
        font-size: 50px;
    }
    .Adress h3{
        font-size: 24px;
    }
    .Adress .line{
        width: 180px !important;
    }
    .Adress p{
        font-size: 18px;
    }
    .Adress .container-fluid{
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
@media(max-width:480px){
    .activities_tomato_one h1{
        font-size: 24px !important;
    }
    .activities_tomato_one .tag{
        font-size: 20px !important;
    }
    .activities_tomato_one .ico img{
        width: 40px !important;
        height: 40px !important;
        object-fit: cover;
    }
    .activities_tomato_one .ico h2{
        font-size: 12px;
    }
    .activities_tomato_one .ico{
        width: 210px !important;
    }
    .activities_tomato_one .sign{
        margin: 0;
    }
    .activities_tomato_one .container-fluid .row .col{
        width: 280px !important;
    }
    .activities_tomato_one .container-fluid p, li{
        font-size: 14px !important;
    }
    .activities_tomato_one .container-fluid h3{
        font-size: 16px !important;
    }
    .activities_tomato_one .container-fluid .custom-button{
        width: 150px !important;
        font-size: 8px;
    }
    .activities_tomato_one .container-fluid .custom-button img{
        width: 14px !important;
        height: 14px !important;
        object-fit: cover;
    }
    .characteristics {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col_bt {
        flex-basis: 50%;
        max-width: 50%;
        justify-content: flex-end;
        padding-left: 0;
        
    }
    
}
@media(max-width:400px){
    .navbar {
        font-size: 14px !important;
    }
    .header{
        min-height: 500px !important;
    }
    .header h1{
        font-size: 40px !important;
    }
    .menu {
        gap: 40px !important;
    }
    .activities h1{
        font-size: 40px !important;
    }
    .content-section h1{
        font-size: 40px !important;
    }
    .content-section p{
        font-size: 14px !important;
    }
    .activities_tomato_one h1{
        font-size: 18px !important;
    }
    .activities_tomato_one .tag{
        font-size: 16px !important;
    }
    .activities_tomato_one .sign{
        font-size: 14px;
    }
    .activities_tomato_one .ico img{
        width: 30px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .activities_tomato_one .ico h2{
        font-size: 10px;
    }
    .activities_tomato_one .ico{
        width: 170px !important;
    }
    .activities_tomato_one .col .text-line{
        width:150px !important;
    }
    .activities_contact_us h1{
        font-size: 40px;
    }
    .activities_contact_us label{
        font-size: 16px;
    }
    .activities_contact_us .container .col1 input, select{
        height: 45px;
    }
    .activities_contact_us .container .col2 input, select{
        height: 45px !important;
    }
    .activities_contact_us .container .col2 textarea{
        height: 400px;
    }
    .activities_contact_us .container .check-code input {
        height: 45px;
    }
    .Adress h3{
        font-size: 20px;
    }
    .Adress .line{
        width: 140px !important;
    }
    .Adress p{
        font-size: 14px;
    }
    .Adress .container-fluid{
        padding-top: 30px;
        padding-bottom: 20px;
    }
}
@media(max-width:320px){
    .header_tomato_one{
        padding: 0;
        max-height: 300px !important;
    }
    .search-wrapper{
        width: 250px !important;
    }
    .navbar-collapse li, a{
        font-size: 10px !important;
        padding: 1px !important;
    }
    .header h1{
        font-size: 38px !important;
    }
    .header-content{
        padding: 50px 50px !important;
    }
    .menu_text {
        font-size: 14px !important;
    }
    .content-section h1{
        font-size: 40px !important;
    }
    .content-section p{
        font-size: 12px !important;
    }
    .menu {
        gap: 30px !important;
    }
    .activities h1{
        font-size: 40px !important;
    }
    .lower-footer{
        font-size: 12px !important;
    }
    .activities_tomato_one h1{
        font-size: 14px !important;
    }
    .activities_tomato_one .tag{
        font-size: 12px !important;
    }
    .activities_tomato_one .sign{
        font-size: 12px;
    }
    .activities_tomato_one .ico img{
        width: 20px !important;
        height: 20px !important;
        object-fit: cover;
    }
    .activities_tomato_one .ico h2{
        font-size: 8px;
    }
    .activities_tomato_one .ico{
        width: 130px !important;
    }
    .activities_tomato_one .col .text-line{
        width:130px !important;
    }
    .activities_tomato_one .container-fluid p, li{
        font-size: 12px !important;
    }
    .activities_tomato_one .container-fluid h3{
        font-size: 14px !important;
    }
    .activities_tomato_one .container-fluid .custom-button{
        width: 100px !important;
        font-size: 8px;
    }
    .activities_tomato_one .container-fluid .custom-button img{
        width: 10px !important;
        height: 10px !important;
        object-fit: cover;
    }
    .col_bt {
        padding-top: 0 !important;
    }
    .activities_tomato h2{
        font-size: 20px;
    }
    .activities_tomato p{
        font-size: 14px;
    }
    .activities_tomato h4{
        font-size: 16px;
    }
    .header_tomato{
        min-height: 300px !important;
    }
    .header_contuct_us{
        min-height: 200px !important;
    }
    .activities_contact_us .check-code button{
        font-size: 10px !important;
    }
}
