@import url("responsive.css");
body {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #324950;
    margin: 0;
    padding: 0;
}
.header {
    background: url('images/bg.jpg') center/cover no-repeat;
    font-size: 16px;
    color: #735440;
    min-height: 800px;
    position: relative;
    width: 100%;
    padding-top: 20px;
}
.header_tomato {
    background: url('images/oranges_bg.jpeg') center/cover no-repeat;
    font-size: 16px;
    color: #735440;
    min-height:400px;
    position: relative;
    width: 100%;
    padding-top: 20px;
}
.header_tomato .navbar-nav .nav-link {
    color:white;
}
.header_tomato_one{
    background-color: white;
    font-size: 16px;
    color: #735440;
    min-height:200px;
    position: relative;
    width: 100%;
    padding-top: 20px;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 1);
}
.header_contuct_us{
    background: url('images/Contuct_us_bg.jpg') center/cover no-repeat;
    font-size: 16px;
    color: #735440;
    min-height:400px;
    position: relative;
    width: 100%;
    padding-top: 20px;
}
.search-container {
    display: flex;
    justify-content: end;
    padding-right: 124px;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-top: 20px;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.search-input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #cccccc00;
    border-radius: 4px;
}

.search-button {
    background: url('images/ico_search.png')center/cover no-repeat;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
}

.search-button img {
    height: 18px;
}

.search-line {
    border: none;
    height: 2px;
    background-color: #324950;
    margin-top: 2px;
    width: 100%;
}

.logo {
    height: 70px;
}

.menu{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 50px;
}
.menu_text {
    font-size: 20px;
    color:#2d3e43;
    padding: 10px;
}

.header-content {
    text-align: center;
    color: white;
    padding: 100px 100px;
}
.btn{
    border-radius: 0px;
    padding: 10px 20px;
}
.brown{
    color:#735440;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
}
h1{
    font-size: 64px;    
}
.sign{
    color:#57984C;
}
h3{
    color:#57984C;
}
.line{
    background-color:#57984C;
    width: 200px;
    height: 2px;
    margin: 5px auto;
    
}
.activities{
    background-color: #EDEDED;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}
.activities_tomato{
    background-color: #EDEDED;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
}
.activities_tomato_one{
    background-image: url('images/Union.png');
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.6;
}
.activities_contact_us{
    background-color: #EDEDED;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
}
.activities_tomato_one img{
    width: 45%;
    max-width: 600px;
    height: auto;
    float: right;
    margin-left: 20px;
    border-radius: 8px;
}
.activities_tomato p {
    margin-bottom: 1em;
}
.activities_tomato h4{
    text-align: justify;
}
.activities_tomato .redline{
    border-left: 4px solid #F57C00 !important;
    padding-left: 15px;
    margin-bottom: 1em;
    line-height: 1.6;
    border-radius: 1px;
}
.text-line {
    border: none;
    height: 2px;
    background-color: #324950;
    margin-top: 2px;
    width: 100%;
}
.activities_tomato .col{
    text-align: left;
}
.activities_tomato .container{
    background-color: white;
    margin-bottom: 20px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    font-size: 20px;

}
.navbar-nav .nav-link:hover {
    color: #6c757d;
}
.footer {
    background-color: #2d3e43;
    padding: 20px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.footernavbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footernavbar .navbar-nav {
    display: flex;
    gap: 20px;
}

.footernavbar .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.footernavbar .navbar-nav .nav-link:hover {
    color: #6c757d;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.lower-footer {
    background-color: #324950;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0;

}
.img-activities{
    width: 300px; 
    height: 300px;
    display: block;
    margin: 0 auto;
}
.activities_tomato .container .row{
    margin: 10px;
}
.activities_tomato .container .tom-row p{
    font-size: 14px;
    color:#57984C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.activities_tomato .container .tom-row h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.activities_tomato img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.activities_tomato_one .sign{
    padding-top: 30px;
    padding-bottom: 10px;
}
.activities_tomato_one .tag{
    color:#57984C;
    font-size: 56px;
}
.activities_tomato_one .tom_one_ico{
    max-height: 90px;
    width: auto;
    object-fit: contain;
    margin: 0;
    padding: 0;
}
.activities_tomato_one .ico h2{
    padding-left: 20px;
    color:#CF2333;
}
.activities_tomato_one .ico{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 0px;
}
.activities_tomato_one .container-fluid{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.activities_tomato_one .characteristics{
    flex: 1 1 70;
    max-width: 70%;
}
.activities_tomato_one .container-fluid .col{
    padding-bottom: 20px;
    width: 100%;
}
.activities_tomato_one .container-fluid .row{
    width: 100%;
}
.activities_tomato_one h3{
    display: inline-block;
    position: relative;
}
.activities_tomato_one .col .text-line{
    width: 260px;
    border: none;
    height: 2px;
    background-color:#57984C;
    margin-top: 2px;
}
.activities_tomato_one .col .custom-button {
    background-color: #ffffff00;
    border-radius: 30px;
    width: 200px;
    display:inline-flex;
    align-items: center;
    max-height: 55px;

}
.custom-button img{
    max-height: 49px;
    width: auto;
    object-fit: contain;
    margin: 0;
    padding: 0;
}
.custom-button span{
    color:#57984C;
    padding-left: 20px;
    
}
.custom-button:hover {
    background-color: #57984C;
}
.activities_tomato_one .container-fluid .col_bt{
    padding-top: 30px;
    padding-right: 0px;
    flex: 1 1 30%;
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
  
}
.activities_tomato_one .container-fluid .col_bt .custom-button:hover{
    background-color: #57984C;
}
.activities_tomato_one .container-fluid .col_bt .custom-button:hover span{
    color:#EDEDED;
}
.activities_tomato_one .container-fluid .col_bt .custom-button:hover img{
    color:#EDEDED;
    filter: invert(41%) sepia(36%) saturate(100%) hue-rotate(75deg) brightness(1000%);
}
.activities_tomato_one .container-fluid ul{
    list-style-type: disc;
    padding-left: 20px;
}
.activities_tomato_one .container-fluid ul li::marker{
    color:#57984C;
}
.activities_tomato_one a{
    color: #57984C;
    text-decoration: none;
}
.activities_tomato_one a:hover{
    color:#CF2333;
}
.activities_contact_us .container{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.activities_contact_us .container label{
    margin-top: 20px;
}
.activities_contact_us .container .col1 input{
    width: 350px;
    height: 55px;
}
.activities_contact_us .container .col2 input{
    width: 635px;
    height: 55px;
}
.activities_contact_us .container .col2 textarea{
    resize: none;
    width: 635px;
    height: 515px;
}
.activities_contact_us .container select{
    width: 635px;
    height: 55px;
}
.activities_contact_us .container .check-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activities_contact_us .container .check-code input{
    width: 225px;
    height: 55px;
}
.activities_contact_us .container .check-code button{
    width: 255px;
    height: 55px;
    padding: 5px 0;
    background-color: #57984C;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}
.activities_contact_us .container .check-code button:hover{
    box-shadow: 0px 6px 15px rgba(87, 152, 76, 0.9);
}
.activities_contact_us .container .check-code img{
    width: auto;
    height: 100%;
}
.Adress .container-fluid{
    width: 100%;
    background: #FFFFFF;
    padding: 60px 0;
    display:grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.Adress .container-fluid p{
    padding: 0;
    margin: 0;
}
.Adress .container-fluid .green-text{
    color:#57984C
}

